{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}

{% block body_block %}
        
        <div>
            <h1 class="page-header">About Page</h1>	
            This tutorial has been put together by Hassan<br />
            <br />
        </div>
        
        <div>
            <img src="{{ MEDIA_URL}}cat.jpg"  alt="Picture of a cat"/>
			<img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />			
		</div>
    </body>
    
{% endblock %}